################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/import-csv/.vs/import-csv
/import-csv/packages
/import-csv/importar-motoristas/obj/Debug
/import-csv/importar-motoristas/bin/Debug
